/* options.css */

body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.options {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-weight: 500;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.option {
    padding: 15px;
}

input[type="color"],
select {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

#apply {
    margin-top: 50px;
    width: 100px;
}